@charset "UTF-8";

html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

body,ul,li{
  margin : 0;
  padding :0;
}
a{
  color: inherit;
  text-decoration : none;
}

.con-min-width{
  min-width : 500px;
}
.con{
  max-width : 100%;
}
.con{
  margin : 0 auto;
}
/* 단축 설정 */
.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-ar {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.width-100p {
  width: 100%;
}

.bd-red {
  border: 2px solid red;
}
/* 단축 설정 */

/* 탑바 시작 */
.top-bar{
  height : 60px;
  width : 100%;
  border-bottom : 1px solid #dee0e1;
  box-sizing : border-box;
  box-shadow : 0 3px 6px 0 rgba(0,0,0,0.1);

}
.top-bar__logo{
  min-width : 165px;
}
.top-bar__logo > a{
  width : 100px;
  margin-left : 20px;
}
.top-bar__logo>a>img{
	display : block;
	width : 100%;
}
.top-bar__search-form{
  position : relative;
}
.top-bar__search-icon{
  position : absolute;
  top : 50%;
  right : 10px;
  transform : translatey(-50%);
}
.top-bar__search-form > form > input{
  height : 30px;
  width : 350px;
  border : 2px solid;
  font-size : 17px;
}
.top-bar__search-icon{
  font-size : 20px;
}
.top-bar__button{
  margin-right : 20px;
}
.top-bar__button > *{
  box-sizing : border;
  border : 2px solid;
  font-weight : 700;
  padding : 0 16px;
  height : 32px;
  line-height : 17px;
  margin-right : 10px;
  border-radius : 9999px;
  position : relative;
}
.top-bar__button-join{
  background : #B6F832;
  min-width:64px;
}
.top-bar__button-login{
  background : #79E7EB;
  min-width:50px;
}
.top-bar__button-join:hover{
  background : #CFF832;
}
.top-bar__button-login:hover{
  background : #A9E7EB;
}
/* 탑바 끝 */