@charset "UTF-8";

html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  overflow-x : hidden;
}
/* 폰트 */
@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
/* 폰트 */
body,ul,li{
  margin : 0;
  padding :0;
}
a{
  color: inherit;
  text-decoration : none;
}

.con-min-width{
  min-width : 500px;
}
.con{
  max-width : 100%;
}
.con{
  margin : 0 auto;
}
/* 단축 설정 */
.flex {
  display: flex;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-ar {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.min-height-100vh{
	min-height : 100vh;
}
.width-100p {
  width: 100%;
}


.bd-red {
  border: 2px solid red;
}
/* 단축 설정 */

/* 탑바 시작 */
.top-bar{
  height : 60px;
  width : 100%;
  border-bottom : 1px solid #dee0e1;
  box-sizing : border-box;
  box-shadow : 0 3px 6px 0 rgba(0,0,0,0.1);

}
.logo{
  font-family: 'ELAND_Nice_M';
  min-width : 270px;
  margin-left : 20px;
}
.top-bar__logo>a{
	font-size : 35px;
	font-weight: 700;
}
.top-bar__logo>span{
	margin-left : 15px;
}
.top-bar__search-form{
  position : relative;
}
.top-bar__search-icon{
  position : absolute;
  top : 50%;
  right : 10px;
  transform : translatey(-50%);
}
.top-bar__search-form{
	width :700px;
	min-width : 350px;
}
.top-bar__search-form > form{
	width : 100%;
	font-family: 'ImcreSoojin';
}
.top-bar__search-form > form > input{
  height : 30px;
  width : 100%;
  border : 2px solid;
  font-size : 17px;
  background-color : #afafaf;
  outline : none;
  transition : all 0.5s;
}
.top-bar__search-form > form > input.active,
.top-bar__search-form > form > input.active-hold{
	background-color : #ffffff;
	border : 2px solid #35B45A;
}
.top-bar__search-icon{
  font-size : 20px;
}
.top-bar__button{
  margin-right : 20px;
}
.top-bar__button > *{
  box-sizing : border;
  border : 2px solid;
  font-weight : 700;
  padding : 0 16px;
  height : 32px;
  line-height : 17px;
  margin-right : 10px;
  border-radius : 9999px;
  position : relative;
}
.top-bar__button-join{
  background : #A37524;
  color : white;
  border-color : black;
  min-width:64px;
}
.top-bar__button-login{
  background : #48DD37;
  min-width:50px;
}
.top-bar__button-join:hover{
  background : #CC934E;
}
.top-bar__button-login:hover{
  background : #81B273;
}
/* 탑바 끝 */

@media (max-width:1239px){
	.top-bar__button{
		display : none;
	}
	.top-bar__search-form{
		margin-right : 20px;
	}
}
@media (max-width:775px){
	.top-bar__logo > span{
		display : none;
	}
	.top-bar__logo{
		min-width: 110px;
	}
}
/* 홈 메인 보드 */
.home-main{
  padding-top : 45px;
  background-color: #7ee8fa;
  background-image: linear-gradient(180deg, #7ee8fa 0%, #80ff72 74%);
}
.home-main__board > div{
	padding-bottom : 20px;
}
.home-main__board > div{
  width: 25%;
  text-align : center;
}
.home-main__board > div > a{
  color :black;
  display : block;
  position : relative;
  width : 100%;
  font-size : 23px;
  font-family: 'ImcreSoojin';
}
.home-main__board > div > a::after{
  content : "\f1bb";
  font-weight : 900;
  font-family: "Font Awesome 5 Free";
  left : 0;
  top : -17%;
  transform: translatey(-17%);
  position : absolute;
  font-size : 60px;
  color : green;
  pointer-events : none;
  z-index: 1;
}
.home-main__board > div:last-child > a::before{
  content : "\f1bb";
  font-weight : 900;
  font-family: "Font Awesome 5 Free";
  right : 0;
  top : -17%;
  transform: translatey(-17%);
  position : absolute;
  font-size : 60px;
  color : green;
  margin-right : 10px;
  pointer-events : none;
  z-index: 1;
}
@media (max-width:1060px){
	.home-main__board > div:last-child > a::before{
		display : none;
	}
}
@media (max-width:960px){

	.home-main__board > div > a::after{
		display : none;
	}
}
/* 홈 메인 보드 */

/* 새 애니메이션 */
.bird {
  box-sizing : border-box;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}
	.bird--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	.bird--two {
		animation-duration: 0.9s;
		animation-delay: -0.75s;
	}
	
	.bird--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	.bird--four {
		animation-duration: 1.1s;
		animation-delay: -0.5s;
	}

.bird-container {
  box-sizing : border-box;
	position: absolute;
	top: 10px;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
	.bird-container--one {
		animation-duration: 10s;
		animation-delay: 0;
	}
	
	.bird-container--two {
		animation-duration: 11s;
		animation-delay: 1s;
	}
	
	.bird-container--three {
		animation-duration: 9.6s;
		animation-delay: 4.5s;
	}
	
	.bird-container--four {
		animation-duration: 11s;
		animation-delay: 5.25s;
	}
}
@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}
/* 새 애니메이션 */

/* 로그인 화면 */
.login-page{
	position : relative;
	width : 100%;
}
.form__login-box{
	border : 2px solid black;
	padding : 60px 100px;
	border-radius : 20px;
	display : inline-block;
	margin-top : 50px;
	background-color : #2C2E36;
	color : white;
}
.login_input{
	margin-bottom: 20px;
	padding : 20px;
	border : 5px solid white;
}
.login_input > input{
	height: 35px;
	width : 450px;
	font-size : 20px;
}
.form__logo{
	font-size : 55px;
	text-align: center;
	margin-bottom : 30px;
}
.login__login-button{
	padding : 20px;
	border : 5px solid white;
	margin-bottom : 20px;
}
.login__login-button > input{
	height : 40px;
	width : 457px;
	background-color : white;
	border:none;
	border-radius : 10px;
	cursor : pointer;
	font-size : 18px;
	color : black;
}
.login__check-box{
	margin-bottom : 15px;
}
.login__add-buttons{
	margin-bottom : 15px;
}
.login__add-buttons > div{
	width : 50%;
	text-align : center;
	position : relative;
}
.login__add-buttons > div::before{
	content : "";
	width : 5px;
	height : 25px;
	background-color : white;
	position:absolute;
	left : 0;
}
.login__add-buttons > div:last-child::after{
	content : "";
	width : 5px;
	height : 25px;
	background-color : white;
	position:absolute;
	right : 0;
}
/* 로그인 화면 */
/* 바텀 */
.bottom-cover{
	font-family: 'LotteMartDream';
	background-color : #8D410B;
	border-top : 1px solid #7f7f7f;
	color : white;
}
.bottom__logo{
	font-size : 35px;
}
.bottom__sentence1 > a{
	margin-right : 20px;
}
/* 바텀 */